<div class="center">
  <h1>HANGMAN GAME </h1>
</div>
<div *ngIf='inGame'>
  <div>

    <div class="password"> {{hiddenPass}} </div>


  </div>

  <div class="games">


    <div class="picture"> <img [src]='gamePicture'> </div>


    <div class="letters">
      <ng-container *ngFor="let letter of letters">
        <div class="letterBlock" [id]="letter" (click)="letterClick(letter)">{{letter}}</div>


      </ng-container>

    </div>

  </div>
</div>

<div *ngIf='win'>
  <h1>WYGRAŁEŚ !!!!!</h1>
  <button (click)="gameReset()">Zagraj jeszcze raz</button>


</div>


<div *ngIf='lose'>
    <h1>!!!! PRZEGRANA !!!!!</h1>
    poprawne hasło to : {{password}}
    <button (click)="gameReset()" >Zagraj jeszcze raz</button>
</div>

